* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.paginaCadastro {
    background-color: #111;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.containerCadastro {
    background-color: white;
    width: 900px;
    height: 550px;
    display: flex;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    overflow: hidden;
}

.imagemLado {
    flex: 1.2;
}

.imagemLado figure {
    width: 100%;
    height: 100%;
}

.imagemLado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formularioCadastro {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 40px; 
}

.formularioCadastro h2 {
    font-size: 1.8rem; 
    color: #333;
    margin-bottom: 5px;
}

.mensagem {
    color: #888;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.campoCadastro {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.campoCadastro label {
    margin-bottom: 4px;
    font-weight: bold;
    color: #555;
    font-size: 0.85rem;
}

.campoCadastro input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    font-size: 0.95rem;
}

.campoCadastro input:focus {
    border-color: #E6261C;
    box-shadow: 0 0 5px rgba(255, 69, 0, 0.2);
}

.botaoFormulario {
    width: 100%;
    margin-top: 15px;
    font-weight: normal;
}

.botaoFormulario a {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #E6261C;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background 0.3s, transform 0.2s;
}

.botaoFormulario a:hover {
    background-color: #CC2118; 
}

.levarLogin {
    margin-top: 15px;
    text-align: center;
    font-size: 0.85rem;
    color: #666;
}

.levarLogin a {
    color: #E6261C;
    text-decoration: none;
    font-weight: bold;
}

.levarLogin a:hover {
    text-decoration: underline;
}