*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black;
    width: 100%;
}

.navegacao{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 25px;
    height: 60px; 
    width: 90%; 
    margin: 0 auto;
}

#logo{
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;

}
#logo img{
    width: 100%;
    height: auto;
    display: block;
}

.buscar{
    display: flex;
    background-color:#ffffff;
    border:solid 3px #5c5c5c;
    border-radius:5px;
}
.buscar img {
    width: 35px;
    height: auto;
    margin: 3px;
}
.txtBusca{
    border: none;
    width: 300px;
    height: 42px;
    padding-left: 5px;
    outline: none;
}
.btnBusca{
    border: none;
    width: 80px;
    height: 42px;
    background-color: #5c5c5c;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

}
.nav-links a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.nav-links a:hover {
    opacity: 0.7; /* Efeito visual ao passar o mouse */
}
.nav-links img{
    width: 35px;
    height: auto;
    display: block;
}

